@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.css');

$brand-color-blue: #2196f3;
$brand-color-black: #212121;
$brand-color-blackb: #21212133;
$brand-color-grey: #757575;
$brand-color-greyB: #75757580;
$brand-color-icons: #afb1b8;
$brand-standar-white: #fff;
$brand-color-blueb: #2196f3e5;
$brand-standar-animation: cubic-bezier(0.4, 0, 0.2, 1);
