.clients {
  padding: 60px 0px 150px;

  &__list {
    width: 170px;
    height: 81px;
    flex-basis: calc((100% - 4 * 30px) / 6);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms $brand-standar-animation;

    &:hover {
      border: 1px solid $brand-color-blue;
    }
    &:hover > .clients-list__icons {
      fill: $brand-color-blue;
    }
  }
}

.clients-list__icons {
  width: 106px;
  height: 52px;
  fill: #afb1b8;
  transition: fill 250ms $brand-standar-animation;
}
